.sheetform { 
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/0512-3-512x512.jpg')
}

.charactersheet {
    padding: 0 !important;
}

.fallout-main {
    display: flex;
    flex-wrap: wrap;
}

.fallout-main-logo {
    margin: 0.5rem;
    width: 188px;
}

.fallout-main-name {
    margin: 0.5rem;
    height: 115px;
    background-color: white;
}

.fallout-main-name .box-content {
    height: 79px;
}

.fallout-main-xp {
    width: 450px;
    height: 150px;
    margin: 0.5rem;
}

.fallout-xp-fields {
    width: 330px;
    height: 115px;
    margin: 0.5rem;
}

.fallout-xp-level {
    width: 115px;
    height: 115px;
    margin: 0.5rem;
    display: inline-grid;
}

.fallout-special {
    display: flex;
    max-width: 830px;
    margin: 0.5rem;
}

.fallout-skills {
    width: 250px;
    margin: 0.5rem;
    overflow: hidden;
}

.fallout-combat {
    margin: 0.5rem;
    overflow: hidden;
    width: 580px;
}

.fallout-inventory {
    display: inline-block;
    margin: 0.5rem;
    overflow: hidden;
    width: 275px;
}

.fallout-weapons {
    overflow: hidden;
    margin: 0.5rem;
}

.fallout-perks-n-traits {
    display: inline-block;
    width: 561px;
    overflow: hidden;
}








/* coloum containers */

.horizontal-container {
    
}

.coloum-container {
    border: 1px solid rgb(0, 0, 0);
}


/* S.P.E.C.I.A.L. */
.grey-small-left-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/grey-left-cog.png');
    background-size: 173px 71px;
    background-repeat: no-repeat;
    position: absolute;
    width: 173px;
    left: -50px;
    top: 108px;
    height: 71px;
}


.small-titled-cog-value .cog-title {
    position: absolute;
    left: 23px;
    top: 34px;
    font-weight: bold;
    color: white;
}

.small-titled-cog-value .cog-value {
    left: 120px;
    top: -10px;
    position: absolute;
    width: 50px;
}

.small-titled-cog-value .input-field-atr {
    width: 32px;
}

/* row containers */

.vertical-container {}

.row-container {}

/* Boxed Titled Fields */ 

.vertical-box {
}

.horizontal-box {
    display: inline-block;
    width: 100%;
    background-color: white;
}

.box-title {
    padding: 8px;
}

.box-title span {
    font-weight: bold;
}

.horizontal-box .box-title {
    width: 150px;
    display: inline-block;
}

.box-content {
    height: 100%;
}

.vertical-box .box-content {
    height: 81px;
    width: 100%;
}

.horizontal-box .box-content {
    width: 147px;
    display: inline-block;
}

.fallout-main-name .input-field-bordered {
    width: 156px;
}

.input-field-medium {
    height: 100%;
    width: 155px;
    margin-bottom: auto;
}

.input-xp-field {
    border: none;
    width: 155px;
}

.input-field-bordered,
.input-field-atr {
    height: 70%;
    border: none;
}

.input-field-atr {
    width: 50px;
}
/* Cogs */ 

.cogged-value {
    background-image: url("https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/cog-whitefill-150.png");
    background-size: 115px;
}

.side-cogged-value {
    background-image: url("https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/salmon-left-cog.png");
    background-size: 280px 105px;
    background-repeat: no-repeat;
    background-position: right;
}

.side-cog-value {
    display: inline-block;
    text-align: center;
    width: 105px;
    height: 105px;
    line-height: 105px;
}

.side-cog-title {
    display: inline-block;
    text-align: center;
    width: 165px;
    font-weight: bold;
    color: white;
}

.input-field-large-cog {
    font-size: xx-large;
}

.input-field-small-cog {
    font-size: medium;
}

.input-field-atr,
.input-field-cog {
    border: none;
    width: 50px;
    height: 70%;
    text-align: center;
}

.input-field-perk-table {
    border: none;
    width: 75px;
}

.input-field-ammo-table {
    width: 88px;
    border: none;
    text-align: center;
}
.input-field-gear-weight {
    border: none;
    text-align: center;
    width: 45px;
}

.input-field-gear-name {
    width: 203px;
}

.double-grey-cogs,
.titled-cog-value {
    width: 120px;
}

.titled-cog-value {
    background-repeat: no-repeat;
    background-size: 126px;
    background-position: top;
}

.small-titled-cog-value {
    border: none;
}

.cog-value-title {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
}

.cog-inner-title {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.titled-cog-value .cog-value-title,
.titled-cog-value .cog-value {
    margin-top: 22px
}

.cog-value-title {
    font-weight: bold;
}

.cog-value {
    display: block;
    text-align: center;
    height: 77px;
    margin-top: 10px;
    font-size: xx-large;
}

/* Skill table */

.skill-table {
    table-layout: fixed;
    width: 250px;
}

.skill-table-title-cell,
.health-table-title-cell {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 5px 10px;
}

.skill-table-row {
    color: black;
}


.skill-table-row:nth-child(even) {
    background-color: rgb(250, 230, 210);
}

.skill-table-row:nth-child(odd) {
    background-color: rgb(240, 200, 170);
}

.skill-table-rank-cell {
    background-color: white;
}

.skill-table-cell {
    border-color:black;
    border-style:solid;
    border-width:1px;
    padding: 0px 10px;
}

.associated_stat_text {
    color: coral;
}

.character_skill_tag_check {
    width: 40px;
    border: none;
}

/* HEALTH */

.health {
    background-color: lightgray;
    position: relative;
    width: 580px;
    height: 428px;
}

.poison-dr {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 10px;
    top: 46px;
}

.poison-dr_header {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 6.2px;
    height: 22px;
    display: inline-block;
}

.poison-dr_value {
    border: none;
    width: 58px;
    text-align: center;
}

.health-data-table {
    display: inline-block;
}

.head-health {
    left: 193px;
    top: 20px;
}

.overall-health {
    left: 424px;
    top: 0px;
}

.left-arm-health {
    left: 10px;
    top: 156px;
}

.right-arm-health {
    left: 380px;
    top: 156px;
}

.torso-health {
    left: 193px;
    top: 245px;
}

.left-leg-health {
    left: 10px;
    top: 334px;
}

.right-leg-health {
    left: 380px;
    top: 334px;
}

.head-health,
.overall-health,
.left-arm-health,
.right-arm-health,
.torso-health,
.left-leg-health,
.right-leg-health {
    position: absolute;
}

.health-table-cell {
    border: 1px solid black;
    padding-left: 3px;
}

.health-table-title {
    width: 60px;
}

.health-table-value {
    width: 35px;
}

.health-table-cell input {
    width: 32px;
    border: none;
}

.health-hp-table-cell {
    background-color: white;
    border-top: 1px dotted black;
}

.health-table {
    border: 1px solid black;
}

.health-hp-value {
    width: 126px;
    border: none;
    text-align: center;
}

.health-hp-table-cell .cell-title {
    display: inline-block;
    padding: 0.5rem;
}

.health-hp-max-value {
    display: inline-block;
    width: 62px;
}

.health-hp-curr-value {
    font-size: xx-large;
    width: 100%;
}

.health-table-cell:nth-child(even) {
    background-color: white;
}

.health-table-cell:nth-child(odd) {
    background-color: none;
}


.health-table-row:nth-child(even) {
    background-color: rgb(213, 222, 213);
}

.health-table-row:nth-child(odd) {
    background-color: rgb(185, 202, 185);
}

.side-black-cogged-value {
    display: inline-block;
    background-image: url("https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/black-left-cog.png");
    background-size: 190px 72px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 190px;
    height: 61px;
    padding-top: 0px;
}

.side-black-cogged-value .cog-value-title {
    display: inline-block;
    padding-left: 1rem;
    width: 123px;
    text-align: left;
    line-height: 64px;
    padding-top: 0px;
}

.side-black-cogged-value .cog-value {
    display: inline-block;
    height: 61px;
    margin: auto;
}

.side-black-cogged-value .input-field-atr {
    background: none;
    width: 41px;
    border: none;
}

/* repeting tables */

.table-header-cell {
    display: inline-block;
    padding: 4px;
    font-weight: bold;
}

.table-header {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: black;
    color: white;
}

.footer-item-name {
    background-color: black;
    color: white;
    display: inline-block;
    width: 192px;
    height: 30px;
    line-height: 30px;
    padding-left: 0.5rem;
    font-weight: bold;
}

.footer-item-weight {
    display: inline-block;
    width: 60px;
    text-align: right;
    padding-right: 0.5rem;
}

.weapons_table .repitem,
.perk_table .repitem,
.ammo_table .repitem,
.gear_table .repitem {
    margin: 0.5rem;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.weapons_table .repcontrol,
.perk_table .repcontrol,
.ammo_table .repcontrol,
.gear_table .repcontrol {
    margin: 0.5rem;
}

/* Ammo */

.ammo_table {
    border: 1px solid black;
    background: white;
    margin-bottom: 15px;
}

.ammo_name {
    width: 104px;
    margin: auto;
}

.ammo_count {
    border: none;
    text-align: right;
    width: 60px;
    height: 30px;
}

.ammo_hitrate {
    border: none;
    text-align: right;
    width:  60px;
    height: 30px;
    background: url(images/combat_dice_small_effect.png) no-repeat scroll 20px 20px;
}

.header-caliber {
    width: 115px;
}

.header-quantity {
    width: 60px;
    text-align: right;
}

.header-hitrate {
    width: 60px;
    text-align: right;
}

/* Gear */

.gear-name {
    width: 155px;
    display: inline-block;
}

.gear-weight {
    display: inline-block;
    width: 102px;
    text-align: right;
}

.weapons_table,
.perk_table,
.gear_table {
    background-color: white;
    border: black 1px solid;
}

.header-item-name {
    width: 155px;
}

.header-item-weight {
    width: 96px;
    text-align: right;
}


/* PERKS */
.header-perk-name {
    width: 24%;
}
.header-perk-rank {
    width: 8.5%;
}
.header-perk-effect {
    width: 61%;
}
.perk-name {
    width: 25%;
    display: inline-block;
}
.perk-rank {
    width: 10%;
    display: inline-block;
}
.perk-effect {
    width: 63.5%;
    display: inline-block;
}

/* Weapons */
.header-weapon-name {
    width: 156px;
}
.header-weapon-skill {
    width: 56px;
}
.header-weapon-tn {
    width: 26px;
}
.header-weapon-tag {
    width: 24px;
}
.header-weapon-damage {
    width: 60px;
}
.header-weapon-effect {
    width: 77px;
}
.header-weapon-type {
    width: 60px;
}
.header-weapon-rate {
    width: 32px;
}
.header-weapon-range {
    width: 46px;
}
.header-weapon-quantities {
    width: 67px;
}
.header-weapon-ammo {
    width: 42px;
}
.header-weapon-weight {
    width: 52px;
}

.weapon-name {
    width: 160px;
}
.weapon-skill {
    width: 64px;
}
.weapon-tn {
    width: 34px;
}
.weapon-tag {
    margin: 8px 10px!important;
}
.weapon-damage {
    width: 68px;
}
.weapon-effect {
    width: 90px;
}
.weapon-type {
    width: 74px;
}
.weapon-rate {
    width: 34px;
}
.weapon-range {
    width: 54px;
}
.weapon-quantities {
    width: 71px;
}
.weapon-ammo {
    width: 51px;
}
.weapon-weight {
    width: 54px;
}

/* Tables commun */


.title {
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 5px;
    display: block;
    overflow: hidden;
    font-weight: bold;
}

/* Colours */

.green-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/green-top-cog.png');
}

.brown-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/brown-top-cog.png');
}

.blue-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/blue-top-cog.png');
}

.orange-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/orange-top-cog.png');
}

.beige-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/baige-top-cog.png');
}

.salmon-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/salmon-top-cog.png');
}

.grey-top-cog {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/grey-top-cog.png');
    position: relative;
    margin-bottom: 39px;
}

.black {
    background-color: black;
    color: white;
}

.green {
    background-color: rgb(117, 155, 125);
    color: white;
}

.brown {
    background-color: rgb(121, 104, 73);
    color: white;
}

.blue {
    background-color: rgb(65, 171, 190);
    color: white;
}

.orange {
    background-color: rgb(215, 130, 65);
    color: white;
}

.beige {
    background-color: rgb(169, 164, 143);
    color: white;
}

.salmon {
    background-color: rgb(209, 153, 132);
    color: white;
}

.grey {
    background-color: rgb(163, 153, 175);
    color: white;
}

.notes {
    margin: 0.5rem;
    overflow: hidden;
    width: 84rem;
}