
.fallout-main {}

.fallout-main-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    align-self: center;
    justify-self: center;
}

.fallout-main-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    align-self: center;
    justify-self: center;
    height: 113px;
}

.fallout-main-xp {
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
    align-self: center;
    justify-self: center;
}

.fallout-special {}

.fallout-skills-and-combat {}

.fallout-skills {}

.fallout-combat {}

/* coloum containers */

.horizontal-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 15px;
    column-gap: 1%;
    align-items: stretch;
    width: 100%;
}

.coloum-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 194, 194);
}

/* row containers */

.vertical-container {}

.row-container {}

/* Boxed Titled Fields */ 

.vertical-box {
    display: block;
}

.horizontal-box {
    display: inline-block;
}

.box-title {
    padding: 8px;
}

.horizontal-box .box-title {
    display: inline-block;
    width: 150px;
}

.box-content {
}

.vertical-box .box-content {
    height: 81px;
    width: 100%;
}

.horizontal-box .box-content {
    display: inline-block;
}

.input-field-medium {
    height: 100%;
}

.input-field-bordered {
    height: 100%;
    border: none;
}

/* Cogs */ 

.cogged-value {
    background-image: url('https://raw.githubusercontent.com/zac-dev/fallout_trpg/master/img/cog-whitefill-150.png')
}

.cog-inner-title {}

.cog-value {}

/* Colours */

.black {
    background-color: black;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}
